@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Theme */
.light {
    --color-primary: #13144A;
    --color-secondary: #FC6053;
    --color-error: #A53428;
    --color-background: #FBFBFD;
    --color-surface: #FBFBFD;
    --text-primary: #13144A;
    --text-secondary: #5D6268;
    --button-color: #13144A;
    --divider-color: #E0E1EF;
    --bottom-bar-active: #13144A;
    --bottom-bar-shadow: #1F000000;
    --bottom-bar-secondary-shadow: #f0f0f6;
    --card-background: #E7E6EE;
    --card-secondary-background: #DEDCE9;
    --card-disabled-background: #D3D3D3;
    --shimmer-base-color: #CDCDCD;
    --circular-progress: #6550AC;
  
    --button-gradient-1: #13144A;
    --button-gradient-2: #FD6053;
    --button-gradient-3: #F9A42E;
  
    --button-secondary-gradient-1: #8A7188;
    --button-secondary-gradient-2: #765176;
    --button-secondary-gradient-3: #323367;
}

/* Dark Theme */
.dark {
    --color-primary: #F2F2F2;
    --color-secondary: #13144A;
    --color-error: #E57368;
    --color-background: #212121;
    --color-surface: #212121;
    --text-primary: #E6DFDF;
    --text-secondary: #D0CFCF;
    --button-color: #424392;
    --divider-color: #3D3D3D;
    --bottom-bar-active: #E6DFDF;
    --bottom-bar-shadow: #FFFFFF1A;
    --bottom-bar-secondary-shadow: #33335b;
    --card-background: #3A393E;
    --card-secondary-background: #4E4B55;
    --card-disabled-background: #3D3D3D;
    --shimmer-base-color: #676767;
    --circular-progress: #D09C34;

    --button-gradient-1: #424392;
    --button-gradient-2: #8A5D89;
    --button-gradient-3: #8A7188;

    --button-secondary-gradient-1: #C87925;
    --button-secondary-gradient-2: #9B4844;
    --button-secondary-gradient-3: #32325A;
}