<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312625322727-0pfvdg6vnf2favbisbp7bs6fsdmg0p2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312625322727-0pfvdg6vnf2favbisbp7bs6fsdmg0p2n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>312625322727-8edbpoeh78ud8cf03va3blp9iuq1e6uk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClj_Kjlyvr9VIspBn7eHjq7j2sp9UAXqY</string>
	<key>GCM_SENDER_ID</key>
	<string>312625322727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.bidx.client</string>
	<key>PROJECT_ID</key>
	<string>bidx-c89c4</string>
	<key>STORAGE_BUCKET</key>
	<string>bidx-c89c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312625322727:ios:1d369e77e4082953d42042</string>
</dict>
</plist>